@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 40%);
  --dark-gray: hsl(0, 0%, 40%);
  --white: #fff;
}

body {
  font-family: "commissioner", sans-serif;
}

.header-background {
  background-image: url(./images/image-hero-mobile.jpg);
  height: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background .nav-container {
  padding: 0 1.5rem;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: none;
  list-style: none;
}

.nav-links a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
  padding-left: 1.5rem;
}

.hamburger {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    background-color: #fff;
    position: absolute;
    top: 9%;
    /* height: 36%; */
    left: 10%;
    right: 10%;
    /* bottom: 3%; */
    /* transform: translateX(-62vw); */
    /* z-index: 2000; */
    border-radius: 10px;
    /* text-align: space-between; */
    padding: 20px 0px 10px 0;
    /* margin:  ; */
  }

  .nav-links a {
    color: black;
    font-size: 18px;
    display: flex;
    padding: 15px 10px 20px 15px;
  }

/* .nav1 {
  border-bottom: 0.5px solid rgb(110, 100, 100);
}
.nav2 {
  border-bottom: 0.5px solid rgb(110, 100, 100);
  padding-top: 15px;
}
.nav3 {
  padding-top: 15px;
} */
}

@media screen and (min-width: 768px) {
  .header-background {
    background-image: url(./images/image-hero-desktop.jpg);
    background-size: cover;
    padding: 2rem 5rem;
  }

  .hamburger {
    display: none;
  }
  .nav1 {
    border-bottom: 0.5px solid rgb(110, 100, 100);
  }
  .nav2 {
    border-bottom: 0.5px solid rgb(110, 100, 100);
    padding-top: 15px;
  }
  .nav3 {
    padding-top: 15px;
  }
  
}
