@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 50%, 47%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 40%);
    --white: #fff;
    --deactivated-black: rgb(180, 178, 178);
    --deactivated-moderate-cyan: hsl(176, 18%, 67%);

}

body {
  font-family: "commissioner", sans-serif;
}

.main-container{
  padding: 0 8%;
}

.header-background {
  background-image: url(./images/image-hero-mobile.jpg);
  height: 24rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background .nav-container {
  padding: 0 1.5rem;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: none;
  column-gap: 2rem;
  list-style-type: none;
  text-decoration: none;
  list-style: none;
}

.nav-links a {
  color: var(--white);
  font-size: 16px;
}

.hamburger {
  background-color: transparent;
  border: none;
}

.cards-section {
  margin-top: -60px;
}
   
section .section-container {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: -1px 2px 7px -2px #bab1ad;
}

section .mastercraft-card h1 {
  text-align: center;
  font-family: "Commissioner", sans-serif;
}

section .section-container p {
  color: var(--light-black);
  margin: 0 20px;
  font-size: 16px;
}

section .mastercraft-card {
  text-align: center;
}

section .mastercraft-logo {
  margin: -30px auto 0;
}

section .mastercraft-card h1 {
  padding-top: 10px;
  word-wrap: break-word;
  padding: 0 2rem;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

section .bookmark-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0 0;
  padding-bottom: 2.5rem;
}

section .bamboo-btn {
  background-color: var(--Moderate-cyan);
  color: white;
  border: none;
  border-radius: 35px;
  padding: 20px 35px;
  margin-left: 30px;
  font-weight: bold;
}

section .bamboo-image {
  border: none;
  border-radius: 2rem;
  padding-top: 20px;
  padding-bottom: 19px;
  margin-right: 30px;
  padding-right: 10px;
  background-color: white;
}

.Donation-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.funding-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
}
.funding-text {
  padding-bottom: 25px;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
}

.funding-line {
  width: 20%;
  opacity: 0.3;
}
.progress-bar {
  padding-bottom: 50px;
  padding-top: 30px;
  margin-left: 30px;
}

.progress-bar > :first-child,
.progress-bar :last-child {
  background-color: var(--Light-gray);
  width: 90%;
  height: 10px;
  border-radius: 10px;
}

.progress-bar :last-child {
  background-color: var(--Moderate-cyan);
  width: 80%;
  margin-top: -10px;
}

.book-mark-text {
  display: none;
}

.main-content {
  padding: 2rem 1.5rem;
}

.about-project-section,
.Reward-container,
.black-edition{
    padding: 2rem 1.5rem;
    box-shadow: 0px 0px 8px -5px rgb(94, 93, 93);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.about-project-section > h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 2rem;
}

.about-project-section .about-paragraph {   
  color: var(--dark-gray);
  line-height: 1.5rem;
  margin-bottom: 2rem;
}


.Reward-container {
    padding-right: 2rem;
}

.Reward-pledge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Reward-pledge p {
    color:var(--Dark-cyan);
    font-weight: 700;
}

.Reward-paragraph {
    line-height: 30px;
    margin-top: 18px;

}


.Reward-button {    
   display: flex;
   flex-direction: column;
   padding-top: 2rem;
   justify-content: space-between;
}

.Reward-button button {
    border-radius: 30rem;
    padding: 1rem;
    list-style: none;
    font-weight: 50px;
    width: 160px;
    margin-top: 0.5rem;
}

.Reward-count {
    font-size: 35px;
    font-weight: 700;
    column-gap: 2px;
    margin-right: 16px;

}

.Reward-button div {
    display: flex;
    align-items: center;
}

.Reward-button button {
    background-color: var(--Moderate-cyan);
    color: var(--white);
    border-style: none;
}

.Reward-container-deativated .Reward-pledge h4 {
    color: var(--deactivated-black);
}

.Reward-container-deativated .Reward-pledge {
    color: var(--deactivated-moderate-cyan);
    font-weight: 300;
}

.Reward-container-deativated .Reward-paragraph p {
    color: var(--deactivated-black);
}

.Reward-container-deativated .Reward-count {
    color: var(--deactivated-black);
}

.Reward-container-deativated .btn {
    background-color: var(--deactivated-black);
}

.Reward-container-deativated .s {
    color: var(--deactivated-black);
}



@media screen and (min-width: 768px) {
  .header-background {
    background-image: url(./images/image-hero-desktop.jpg);
    background-size: cover;
    padding: 2rem 5rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }

  .nav-links a {
    text-decoration: none;
 }
 
    .Reward-pledge {   
        flex-direction: row;  
    }

    .Reward-button {
        flex-direction: row;
    }

  .cards-section {
    padding: 0 20%;
  }

  .book-mark-text {
    display: inline-block;
    font-weight: bold;
  }

  .about-project-section{
    margin: 0 20%;
  }

  section .bamboo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--Light-gray);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 40px;
  }

  .bookmark-image {
    border: white solid 1px;
    border-radius: 50px;
  }

  .funding-line {
    transform: rotate(90deg);
    width: 10%;
    margin-top: 10px;
    opacity: 0.3;
  }

  .Donation-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
  }

  .funding-amount {
    padding-top: 30px;
    padding-right: 30px;
    margin-right: 40px;
  }

  .funding-text {
    padding-right: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
}
