@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 40%);
  --dark-gray: hsl(0, 0%, 40%);
  --white: #fff;
}

body {
  font-family: "commissioner", sans-serif;
}

.header-background {
  background-image: url(./images/image-hero-mobile.jpg);
  height: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background .nav-container {
  padding: 0 1.5rem;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: none;
  list-style: none;
}

.nav-links a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
  padding-left: 1.5rem;
}

.hamburger {
  background-color: transparent;
  border: none;
}

.nav-wrapper-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  padding-top: 4rem;
}

/* .bamboo-image{ */
  /* color: var(--Moderate-cyan); */
/* } */

@media screen and (max-width: 768px) {
  .nav-links {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    z-index: 2000;
    border-radius: 10px; 
  }

  .nav-links a {
    color: black !important;
    font-size: 18px;
    display: flex;
    padding: 15px 10px 20px 15px;
  }

  .nav1 {
    border-bottom: 0.5px solid rgb(110, 100, 100);
  }
  .nav2 {
    border-bottom: 0.5px solid rgb(110, 100, 100);
    padding-top: 15px;
  }
  .nav3 {
    padding-top: 15px;
  }

  .closeIcon {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .header-background {
    background-image: url(./images/image-hero-desktop.jpg);
    background-size: cover;
    padding: 2rem 5rem;
  }

  .nav-links {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}
